@CHARSET "ISO-8859-1";

html,body {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

body {
	font: 12px Verdana, Arial, Helvetica, sans-serif;
	color: #000;
	margin: 0;
	padding: 0;
}

body,div {
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

div {
	position: relative;
	overflow: hidden;
}