@CHARSET "ISO-8859-1";

html,body {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

body {
	color: #000;
	margin: 0;
	padding: 0;
}

body,div {
	position: relative;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

div[id] {
	text-align: justify;
	overflow: hidden;
	display: inline-block;
	vertical-align: top;
    font-size: 0 !important;
    white-space:normal;
}

div[data-algn=true] {
	white-space:nowrap !important;
}

div, div > * {
	font: 12px Verdana, Arial, Helvetica, sans-serif;
	vertical-align: top;
}

p {
	margin: 0;
	padding: 0;
}